# Table of Contents
 <p>

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
results = pd.read_csv('2015a_results.csv')
results.head()

,ROUND,HOME,SCORE,SCORE.1,AWAY,OT
0,1,Applecross Dressers,2,31,Chick Park,NaN
1,1,Cottesloe's Hottest Hoes,10,11,Fremantle Cappuccino Strippers,NaN
2,1,Dalkeith Dalqueefs,1,10,Nedlands Yung Puccbois,NaN
3,1,Attafail Whales,6,11,Perth On Heat,NaN
4,1,Bicton Bath Salts,9,8,South Perth Puckaneers,OT

In [3]:
for i in range(0,len(results)):
    results['OT'][i] = results['OT'][i] == "OT"

results.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,ROUND,HOME,SCORE,SCORE.1,AWAY,OT
0,1,Applecross Dressers,2,31,Chick Park,False
1,1,Cottesloe's Hottest Hoes,10,11,Fremantle Cappuccino Strippers,False
2,1,Dalkeith Dalqueefs,1,10,Nedlands Yung Puccbois,False
3,1,Attafail Whales,6,11,Perth On Heat,False
4,1,Bicton Bath Salts,9,8,South Perth Puckaneers,True

In [4]:
results['IsDraw'] = results['SCORE'] == results['SCORE.1']

for i in range(0,len(results)):
    if results['OT'][i]:
        results['IsDraw'][i] = True

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
results.head()

,ROUND,HOME,SCORE,SCORE.1,AWAY,OT,IsDraw
0,1,Applecross Dressers,2,31,Chick Park,False,False
1,1,Cottesloe's Hottest Hoes,10,11,Fremantle Cappuccino Strippers,False,False
2,1,Dalkeith Dalqueefs,1,10,Nedlands Yung Puccbois,False,False
3,1,Attafail Whales,6,11,Perth On Heat,False,False
4,1,Bicton Bath Salts,9,8,South Perth Puckaneers,True,True

In [10]:
results['Winteam']=np.NaN
results['Lossteam']=np.NaN
results['gameplayed']=np.NaN
results = results.rename(columns = {"SCORE":"homescore","SCORE.1":"awayscore"})
for i in range(0,len(results)):
    results['gameplayed'][i] = results['homescore'][i] != 0 and results['awayscore'][i] != 0
    # If home score is greater than away score
    if results['homescore'][i]>=results['awayscore'][i]:
        results['Winteam'][i]=results['HOME'][i]
        results['Lossteam'][i]=results['AWAY'][i]
    else:
        results['Winteam'][i]=results['AWAY'][i]
        results['Lossteam'][i]=results['HOME'][i]

    
results.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ROUND,HOME,homescore,awayscore,AWAY,OT,IsDraw,Winteam,Lossteam,gameplayed
0,1,Applecross Dressers,2,31,Chick Park,False,False,Chick Park,Applecross Dressers,1
1,1,Cottesloe's Hottest Hoes,10,11,Fremantle Cappuccino Strippers,False,False,Fremantle Cappuccino Strippers,Cottesloe's Hottest Hoes,1
2,1,Dalkeith Dalqueefs,1,10,Nedlands Yung Puccbois,False,False,Nedlands Yung Puccbois,Dalkeith Dalqueefs,1
3,1,Attafail Whales,6,11,Perth On Heat,False,False,Perth On Heat,Attafail Whales,1
4,1,Bicton Bath Salts,9,8,South Perth Puckaneers,True,True,Bicton Bath Salts,South Perth Puckaneers,1

In [ ]:

x = Series(winloss['Winteam'].unique())
y = Series(winloss['Lossteam'].unique())
x=x.append(y)
x=Series(x.unique())
x.sort_values()

In [14]:
results = results.drop(results.columns[[0,1,2,3,4,5]],axis=1)
winloss = results[results["gameplayed"] == 1]
winloss.head()

  IsDraw                         Winteam                  Lossteam  gameplayed
0  False                      Chick Park       Applecross Dressers           1
1  False  Fremantle Cappuccino Strippers  Cottesloe's Hottest Hoes           1
2  False          Nedlands Yung Puccbois        Dalkeith Dalqueefs           1
3  False                   Perth On Heat           Attafail Whales           1
4   True               Bicton Bath Salts    South Perth Puckaneers           1

In [50]:
teams_lower = Series([])
x = Series(winloss['Winteam'].unique())
y = Series(winloss['Lossteam'].unique())
x=x.append(y)
x=Series(x.unique())
teams = x.sort_values()

AttributeError: 'float' object has no attribute 'lower'

In [39]:
teams.unique()

array(['50 shades of graylands', 'applecross dressers', 'Attafail Whales',
       'balcatta bandits', 'bicton banter lords', 'bicton bath salts',
       'booragoonbags', 'bull creek buttchuggers', 'chick park',
       'churchlands hellraisers', 'city beach groins', 'city beach kooks',
       'claremont cereal killahs', 'como at me bro', 'Como At Me bro',
       'como mo co', "cottesloe's hottest hoes", 'cotteslowbros',
       'Creepy Crawleys', 'daglish dhe moisties', 'dalkeith dalqueefs',
       'dianella demons', 'dog swamp swamp dogs',
       'doubleview double yewws', 'fremantle cappuccino strippers',
       'freo fussy puckers', 'gmla angels', 'gmla guardians',
       'gmla jurassic pucks', 'greenmount doom', 'hillarys humpbacks',
       'hungry spot heroes', 'inglewood coldcuts', 'innaloominati',
       'karrakatta grim jobs', 'kensington kermits', 'lake mongrels',
       'leederphiles rolferhockey', 'maylands muthapuckas',
       'melville massiv', 'mindarie molotovs', 'mosman mooseknuckles',
       'mount lawless', 'mt lawley chai lattes', 'mt pleasant mounties',
       'mullaloozers', 'nedlands yung puccbois',
       'north perth bald beavers', 'ocean beef', 'perth glory holez',
       'perth on heat', 'rosemount rinsers', 'scarbra streisands',
       'shenton park speed dealers', 'south perth puckaneers',
       'subiaco silkworms', 'swanbourne nudists',
       'wembley blue light discos', 'wembley food caughts',
       'wembley food courts', 'west coast spastic eagles',
       'west stirling banjo breakers', 'whitfords city wristies',
       'whorebin grovers', 'willo wonkas', nan], dtype=object)

In [29]:
type(teams)

pandas.core.series.Series

In [34]:
len(teams)

67

In [40]:
teams.to_csv('2015a teams.csv')

In [56]:
teams = pd.read_csv('2015a teams.csv')
teams_list = Series(teams['Team Lower']).unique()
teams_list

array(['50 shades of graylands', 'applecross dressers', 'attafail whales',
       'balcatta bandits', 'bicton banter lords', 'bicton bath salts',
       'booragoonbags', 'bull creek buttchuggers', 'chick park',
       'churchlands hellraisers', 'city beach groins', 'city beach kooks',
       'claremont cereal killahs', 'como at me bro', 'como mo co',
       "cottesloe's hottest hoes", 'cotteslowbros', 'creepy crawleys',
       'daglish dhe moisties', 'dalkeith dalqueefs', 'dianella demons',
       'dog swamp swamp dogs', 'doubleview double yewws',
       'fremantle cappuccino strippers', 'freo fussy puckers',
       'gmla angels', 'gmla guardians', 'gmla jurassic pucks',
       'greenmount doom', 'hillarys humpbacks', 'hungry spot heroes',
       'inglewood coldcuts', 'innaloominati', 'karrakatta grim jobs',
       'kensington kermits', 'lake mongrels', 'leederphiles rolferhockey',
       'maylands muthapuckas', 'melville massiv', 'mindarie molotovs',
       'mosman mooseknuckles', 'mount lawless', 'mt lawley chai lattes',
       'mt pleasant mounties', 'mullaloozers', 'nedlands yung puccbois',
       'north perth bald beavers', 'ocean beef', 'perth glory holez',
       'perth on heat', 'rosemount rinsers', 'scarbra streisands',
       'shenton park speed dealers', 'south perth puckaneers',
       'subiaco silkworms', 'swanbourne nudists',
       'wembley blue light discos', 'wembley food caughts',
       'wembley food courts', 'west coast spastic eagles',
       'west stirling banjo breakers', 'whitfords city wristies',
       'whorebin grovers', 'willo wonkas'], dtype=object)

In [58]:
winloss['Winteam'].unique()

array(['Chick Park', 'Fremantle Cappuccino Strippers',
       'Nedlands Yung Puccbois', 'Perth On Heat', 'Bicton Bath Salts',
       'Whorebin Grovers', 'Lake Mongrels', 'City Beach Groins',
       'Mosman Mooseknuckles', 'Mount Lawless',
       'West Coast Spastic Eagles', 'Rosemount Rinsers',
       'Bull Creek Buttchuggers', 'City Beach Kooks', 'Cotteslowbros',
       'Ocean Beef', 'Wembley Food Courts', 'Doubleview Double Yewws',
       'Shenton Park Speed Dealers', 'Hungry Spot Heroes',
       'Claremont Cereal Killahs', 'Mt Pleasant Mounties',
       'Churchlands Hellraisers', 'Greenmount Doom',
       'Daglish Dhe Moisties', 'Willo Wonkas', 'Dog Swamp Swamp Dogs',
       'Scarbra Streisands', 'GMLA Guardians', 'Como Mo Co',
       'Dianella Demons', 'Hillarys Humpbacks', 'Dalkeith Dalqueefs',
       'Swanbourne Nudists', 'GMLA Jurassic Pucks',
       'North Perth Bald Beavers', 'Balcatta Bandits', 'Melville Massiv',
       'Wembley Food Caughts', 'Whitfords City Wristies',
       'Mindarie Molotovs', 'Freo Fussy Puckers', 'Kensington Kermits',
       'Wembley Blue Light Discos', 'Perth Glory Holez',
       'Applecross Dressers', "Cottesloe's Hottest Hoes", 'Innaloominati',
       'Bicton Banter Lords', 'Leederphiles Rolferhockey',
       'Karrakatta Grim Jobs', '50 Shades of Graylands', 'GMLA Angels',
       'West Stirling Banjo Breakers', 'Como At Me Bro', 'Booragoonbags',
       'Maylands Muthapuckas', 'Inglewood Coldcuts',
       'South Perth Puckaneers', 'Mt Lawley Chai Lattes', 'Mullaloozers',
       'Subiaco SIlkworms', 'Subiaco Silkworms', nan], dtype=object)

In [60]:
for i in range(0,len(winloss)):
    winloss['Winteam'][i] = winloss['Winteam'][i].lower()
    winloss['Lossteam'][i] = winloss['Lossteam'][i].lower()
    
winloss.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

KeyError: 200L

In [65]:
winloss = pd.read_csv('winloss 2015a.csv')
winloss.head()
winloss['Winteam'].unique()
winteams = Series(winloss['Winteam'])
lossteams = Series(winloss['Lossteam'])
winteams.append(lossteams)
teams = Series(winteams.unique())

In [67]:
winloss.head()

,Unnamed: 0,IsDraw,Winteam,Lossteam,gameplayed
0,0,False,chick park,applecross dressers,1
1,1,False,fremantle cappuccino strippers,cottesloe's hottest hoes,1
2,2,False,nedlands yung puccbois,dalkeith dalqueefs,1
3,3,False,perth on heat,attafail whales,1
4,4,True,bicton bath salts,south perth puckaneers,1