In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [2]:
results_2014b = pd.read_csv('2014b_results.csv')

In [3]:
results_2014b.head()

,HOME,SCORE,OTL_HOME,OTL_AWAY,SCORE.1,AWAY
0,Shenton Park Speed Dealers,13,NaN,NaN,11,Karrakatta Grim Jobs
1,Floreat Flamingos,12,NaN,NaN,10,Karrinyup Bandits
2,West Leederville Wobbegongs,NaN,NaN,NaN,NaN,Doubleview Double Yewws
3,GMLA Guardians,12,NaN,NaN,7,GMLA Angels
4,South Perth Puckaneers,12,NaN,NaN,8,Bicton Bath Salts

In [11]:
results_2014b=results_2014b.fillna(0);
results_2014b['OT']= np.NaN

In [12]:
# Make a column, flagging the game as in OT if either OTL is true
for i in range(0,len(results_2014b)):
    if (results_2014b['OTL_HOME'][i] == 0 and results_2014b['OTL_AWAY'][i] == 0):
        results_2014b['OT'][i] = False
    else:
        results_2014b['OT'][i] = True

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
results_2014b['OTL_HOME'][1]

0

In [14]:
i=1

In [15]:
# Testing and statement
results_2014b['OTL_HOME'][i] == 0 and results_2014b['OTL_AWAY'][i] == 0

True

In [16]:
# Get list of teams that played in 2014b, store as a Series called teams

hometeams = Series(results_2014b['HOME'].unique())
awayteams = Series(results_2014b['AWAY'].unique())
teams = Series(hometeams)
teams = Series(teams.append(awayteams))
teams = Series(teams.unique())
teams = Series(teams.sort_values(inplace=True))

In [17]:
results_2014b.head()

,HOME,SCORE,OTL_HOME,OTL_AWAY,SCORE.1,AWAY,OT
0,Shenton Park Speed Dealers,13,0,0,11,Karrakatta Grim Jobs,0
1,Floreat Flamingos,12,0,0,10,Karrinyup Bandits,0
2,West Leederville Wobbegongs,0,0,0,0,Doubleview Double Yewws,0
3,GMLA Guardians,12,0,0,7,GMLA Angels,0
4,South Perth Puckaneers,12,0,0,8,Bicton Bath Salts,0

In [74]:
##############################
######## DO THIS LAST ########
##############################


# Create GamePlayed flag, remove games that had 0-0 score
# Assume that 0-0 draws don't happen if a game is actually played
results_2014b['GamePlayed'] = results_2014b['SCORE']+results_2014b["SCORE.1"]
results_2014b=results_2014b[results_2014b['GamePlayed']!=0]
# Remove GamePlayed column, not needed any more
del results_2014b['GamePlayed'], results_2014b['OTL_HOME'], results_2014b['OTL_AWAY']
results_2014b.head()

KeyError: 'OTL_HOME'

In [18]:
# Create IsDraw flag
# Count OT losses as draws
# Draws represent occurences where team skill is very close to each other
# The same is true of an over time loss
results_2014b['IsDraw'] = results_2014b['SCORE'] == results_2014b['SCORE.1']
#results_2014b['IsDraw'] = results_2014b['OT'] == 1 or results_2014b['ISDraw']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [19]:
for i in range (0,len(results_2014b)):
    if results_2014b['OT'][i] == 1:
        results_2014b['IsDraw'][i] = True

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [22]:
results_2014b.head()

,HOME,SCORE,OTL_HOME,OTL_AWAY,SCORE.1,AWAY,OT,IsDraw
0,Shenton Park Speed Dealers,13,0,0,11,Karrakatta Grim Jobs,0,False
1,Floreat Flamingos,12,0,0,10,Karrinyup Bandits,0,False
2,West Leederville Wobbegongs,0,0,0,0,Doubleview Double Yewws,0,True
3,GMLA Guardians,12,0,0,7,GMLA Angels,0,False
4,South Perth Puckaneers,12,0,0,8,Bicton Bath Salts,0,False

In [28]:
##############################
######## DO THIS LAST ########
##############################


# Create GamePlayed flag, remove games that had 0-0 score
# Assume that 0-0 draws don't happen if a game is actually played
results_2014b['GamePlayed'] = results_2014b['SCORE']+results_2014b["SCORE.1"]
results_2014b=results_2014b[results_2014b['GamePlayed']!=0]
# Remove GamePlayed column, not needed any more
del  results_2014b['GamePlayed'], results_2014b['OTL_HOME'], results_2014b['OTL_AWAY'], results_2014b['OT']
results_2014b.head()

# Delete rows where there are not two teams
# Indicates game did not occur
results_2014b = results_2014b[results_2014b['AWAY'] != 0]
results_2014b = results_2014b[results_2014b['HOME'] != 0]

In [29]:
results_2014b.head()

                         HOME  SCORE  SCORE.1                  AWAY IsDraw
0  Shenton Park Speed Dealers     13       11  Karrakatta Grim Jobs  False
1           Floreat Flamingos     12       10     Karrinyup Bandits  False
3              GMLA Guardians     12        7           GMLA Angels  False
4      South Perth Puckaneers     12        8     Bicton Bath Salts  False
5             Melville Massiv      7        9   Bicton Banter Lords  False

In [30]:
results_2014b = results_2014b.rename(columns = {"SCORE":"homescore","SCORE.1":"awayscore"})
results_2014b.head()

,HOME,homescore,awayscore,AWAY,IsDraw
0,Shenton Park Speed Dealers,13,11,Karrakatta Grim Jobs,False
1,Floreat Flamingos,12,10,Karrinyup Bandits,False
3,GMLA Guardians,12,7,GMLA Angels,False
4,South Perth Puckaneers,12,8,Bicton Bath Salts,False
5,Melville Massiv,7,9,Bicton Banter Lords,False

In [55]:
# Write what has been done so far to a new csv
results_2014b.to_csv('results_2014b_clean.csv')
#results_2014b = pd.read_csv('results_2014b_clean.csv')

In [58]:
results_2014b['Winteam'] = np.NaN
results_2014b['Lossteam'] = np.NaN
results_2014b.drop(results_2014b.columns[[1]],axis=1)
results_2014b.head()

,Unnamed: 0,HOME,homescore,awayscore,AWAY,IsDraw,Winteam,Lossteam
0,0,Shenton Park Speed Dealers,13,11,Karrakatta Grim Jobs,False,NaN,NaN
1,1,Floreat Flamingos,12,10,Karrinyup Bandits,False,NaN,NaN
2,2,GMLA Guardians,12,7,GMLA Angels,False,NaN,NaN
3,3,South Perth Puckaneers,12,8,Bicton Bath Salts,False,NaN,NaN
4,4,Melville Massiv,7,9,Bicton Banter Lords,False,NaN,NaN

In [59]:
for i in range(0,len(results_2014b)):
    # If home score is greater than away score
    if results_2014b['homescore'][i]>=results_2014b['awayscore'][i]:
        results_2014b['Winteam'][i]=results_2014b['HOME'][i]
        results_2014b['Lossteam'][i]=results_2014b['AWAY'][i]
    else:
        results_2014b['Winteam'][i]=results_2014b['AWAY'][i]
        results_2014b['Lossteam'][i]=results_2014b['HOME'][i]

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [60]:
results_2014b.head()

,Unnamed: 0,HOME,homescore,awayscore,AWAY,IsDraw,Winteam,Lossteam
0,0,Shenton Park Speed Dealers,13,11,Karrakatta Grim Jobs,False,Shenton Park Speed Dealers,Karrakatta Grim Jobs
1,1,Floreat Flamingos,12,10,Karrinyup Bandits,False,Floreat Flamingos,Karrinyup Bandits
2,2,GMLA Guardians,12,7,GMLA Angels,False,GMLA Guardians,GMLA Angels
3,3,South Perth Puckaneers,12,8,Bicton Bath Salts,False,South Perth Puckaneers,Bicton Bath Salts
4,4,Melville Massiv,7,9,Bicton Banter Lords,False,Bicton Banter Lords,Melville Massiv

In [65]:
# Write what has been done so far to a new csv
results_2014b.to_csv('winloss_2014b.csv')

In [67]:
results_2014b.head()

,Unnamed: 0,HOME,homescore,awayscore,AWAY,IsDraw,Winteam,Lossteam
0,0,Shenton Park Speed Dealers,13,11,Karrakatta Grim Jobs,False,Shenton Park Speed Dealers,Karrakatta Grim Jobs
1,1,Floreat Flamingos,12,10,Karrinyup Bandits,False,Floreat Flamingos,Karrinyup Bandits
2,2,GMLA Guardians,12,7,GMLA Angels,False,GMLA Guardians,GMLA Angels
3,3,South Perth Puckaneers,12,8,Bicton Bath Salts,False,South Perth Puckaneers,Bicton Bath Salts
4,4,Melville Massiv,7,9,Bicton Banter Lords,False,Bicton Banter Lords,Melville Massiv

In [71]:
winloss_2014b = pd.read_csv('winloss_2014b.csv')
winloss_2014b.head()

   Unnamed: 0                     Winteam              Lossteam IsDraw
0           0  Shenton Park Speed Dealers  Karrakatta Grim Jobs  False
1           1           Floreat Flamingos     Karrinyup Bandits  False
2           2              GMLA Guardians           GMLA Angels  False
3           3      South Perth Puckaneers     Bicton Bath Salts  False
4           4         Bicton Banter Lords       Melville Massiv  False

In [80]:
x = Series(winloss_2014b['Winteam'].unique())
y = Series(winloss_2014b['Lossteam'].unique())
x=x.append(y)
x=Series(x.unique())
x.sort_values()

4             Bicton Banter Lords
36              Bicton Bath Salts
8            Brentwood Bushchooks
17        Churchlands Hellraisers
14       Claremont Cereal Killahs
12                     Como Mo Co
30         Cottesloe Clam Hunters
34                Creepy Crawleys
6                 Dianella Demons
26           Dog Swamp Swamp Dogs
22        Doubleview Double Yewws
1               Floreat Flamingos
42             Freo Fussy Puckers
39                    GMLA Angels
2                  GMLA Guardians
13            GMLA Jurassic Pucks
32            Gravel Road GrindRs
23                Greenmount Doom
38             Hillarys Humpbacks
41             Hungry Spot Heroes
33             Inglewood Coldcuts
7                  Innaloo Pinguz
18                  Innaloominati
28           Karrakatta Grim Jobs
25              Karrinyup Bandits
40             Kensington Kermits
11           Maylands Muthapuckas
35                Melville Massiv
9               Mindarie Molotovs
21            Mosman Park Milkmen
15           Mt Pleasant Mounties
27                   Mullaloozers
16       North Perth Bald Beavers
5                      Ocean Beef
10               Parkwood Benders
29             Perth Glory-Holerz
37             Scarbra Streisands
0      Shenton Park Speed Dealers
3          South Perth Puckaneers
19              Subiaco Silkworms
31    West Leederville Wobbegongs
20        Whitfords City Wristies
24                   Willo Wonkas
dtype: object

In [79]:
for i in range(0,len(winloss_2014b)):
    if winloss_2014b["Winteam"][i] == "HIllarys Humpbacks":
        winloss_2014b['Winteam'][i] = "Hillarys Humpbacks"
    if winloss_2014b["Lossteam"][i] == "HIllarys Humpbacks":
        winloss_2014b['Lossteam'][i] = "Hillarys Humpbacks"
        
    if winloss_2014b["Winteam"][i] == "Inglewood ColdCuts":
        winloss_2014b['Winteam'][i] = "Inglewood Coldcuts"
    if winloss_2014b["Lossteam"][i] == "Inglewood ColdCuts":
        winloss_2014b['Lossteam'][i] = "Inglewood Coldcuts"
        
    if winloss_2014b["Winteam"][i] == "Mosman Park MIlkmen":
        winloss_2014b['Winteam'][i] = "Mosman Park Milkmen"
    if winloss_2014b["Lossteam"][i] == "Mosman Park MIlkmen":
        winloss_2014b['Lossteam'][i] = "Mosman Park Milkmen"

    if winloss_2014b["Winteam"][i] == "Subiaco SIlkworms":
        winloss_2014b['Winteam'][i] = "Subiaco Silkworms"
    if winloss_2014b["Lossteam"][i] == "Subiaco SIlkworms":
        winloss_2014b['Lossteam'][i] = "Subiaco Silkworms"

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [81]:
winloss_2014b.to_csv('winloss_2014b.csv')