In [1]:
import pandas as pd
import numpy as np
import trueskill

from pandas import Series, DataFrame
from trueskill import Rating, quality_1vs1, rate_1vs1
# trueskill.Rating() creates a trueskill object

In [2]:
winloss_2014b = pd.read_csv('winloss_2014b.csv')
winloss_2014b.head()

,Unnamed: 0,Unnamed: 0.1,Winteam,Lossteam,IsDraw
0,0,0,Shenton Park Speed Dealers,Karrakatta Grim Jobs,False
1,1,1,Floreat Flamingos,Karrinyup Bandits,False
2,2,2,GMLA Guardians,GMLA Angels,False
3,3,3,South Perth Puckaneers,Bicton Bath Salts,False
4,4,4,Bicton Banter Lords,Melville Massiv,False

In [3]:
winteams = Series(winloss_2014b['Winteam'].unique())
lossteams = Series(winloss_2014b['Lossteam'].unique())
teams = winteams
teams = teams.append(lossteams)
teams = Series(teams.unique())
print(teams.head())
print len(teams), "teams"

0    Shenton Park Speed Dealers
1             Floreat Flamingos
2                GMLA Guardians
3        South Perth Puckaneers
4           Bicton Banter Lords
dtype: object
43 teams

In [4]:
skill = {name:Rating() for name in teams}
skill

{'Bicton Banter Lords': trueskill.Rating(mu=25.000, sigma=8.333),
 'Bicton Bath Salts': trueskill.Rating(mu=25.000, sigma=8.333),
 'Brentwood Bushchooks': trueskill.Rating(mu=25.000, sigma=8.333),
 'Churchlands Hellraisers': trueskill.Rating(mu=25.000, sigma=8.333),
 'Claremont Cereal Killahs': trueskill.Rating(mu=25.000, sigma=8.333),
 'Como Mo Co': trueskill.Rating(mu=25.000, sigma=8.333),
 'Cottesloe Clam Hunters': trueskill.Rating(mu=25.000, sigma=8.333),
 'Creepy Crawleys': trueskill.Rating(mu=25.000, sigma=8.333),
 'Dianella Demons': trueskill.Rating(mu=25.000, sigma=8.333),
 'Dog Swamp Swamp Dogs': trueskill.Rating(mu=25.000, sigma=8.333),
 'Doubleview Double Yewws': trueskill.Rating(mu=25.000, sigma=8.333),
 'Floreat Flamingos': trueskill.Rating(mu=25.000, sigma=8.333),
 'Freo Fussy Puckers': trueskill.Rating(mu=25.000, sigma=8.333),
 'GMLA Angels': trueskill.Rating(mu=25.000, sigma=8.333),
 'GMLA Guardians': trueskill.Rating(mu=25.000, sigma=8.333),
 'GMLA Jurassic Pucks': trueskill.Rating(mu=25.000, sigma=8.333),
 'Gravel Road GrindRs': trueskill.Rating(mu=25.000, sigma=8.333),
 'Greenmount Doom': trueskill.Rating(mu=25.000, sigma=8.333),
 'Hillarys Humpbacks': trueskill.Rating(mu=25.000, sigma=8.333),
 'Hungry Spot Heroes': trueskill.Rating(mu=25.000, sigma=8.333),
 'Inglewood Coldcuts': trueskill.Rating(mu=25.000, sigma=8.333),
 'Innaloo Pinguz': trueskill.Rating(mu=25.000, sigma=8.333),
 'Innaloominati': trueskill.Rating(mu=25.000, sigma=8.333),
 'Karrakatta Grim Jobs': trueskill.Rating(mu=25.000, sigma=8.333),
 'Karrinyup Bandits': trueskill.Rating(mu=25.000, sigma=8.333),
 'Kensington Kermits': trueskill.Rating(mu=25.000, sigma=8.333),
 'Maylands Muthapuckas': trueskill.Rating(mu=25.000, sigma=8.333),
 'Melville Massiv': trueskill.Rating(mu=25.000, sigma=8.333),
 'Mindarie Molotovs': trueskill.Rating(mu=25.000, sigma=8.333),
 'Mosman Park Milkmen': trueskill.Rating(mu=25.000, sigma=8.333),
 'Mt Pleasant Mounties': trueskill.Rating(mu=25.000, sigma=8.333),
 'Mullaloozers': trueskill.Rating(mu=25.000, sigma=8.333),
 'North Perth Bald Beavers': trueskill.Rating(mu=25.000, sigma=8.333),
 'Ocean Beef': trueskill.Rating(mu=25.000, sigma=8.333),
 'Parkwood Benders': trueskill.Rating(mu=25.000, sigma=8.333),
 'Perth Glory-Holerz': trueskill.Rating(mu=25.000, sigma=8.333),
 'Scarbra Streisands': trueskill.Rating(mu=25.000, sigma=8.333),
 'Shenton Park Speed Dealers': trueskill.Rating(mu=25.000, sigma=8.333),
 'South Perth Puckaneers': trueskill.Rating(mu=25.000, sigma=8.333),
 'Subiaco Silkworms': trueskill.Rating(mu=25.000, sigma=8.333),
 'West Leederville Wobbegongs': trueskill.Rating(mu=25.000, sigma=8.333),
 'Whitfords City Wristies': trueskill.Rating(mu=25.000, sigma=8.333),
 'Willo Wonkas': trueskill.Rating(mu=25.000, sigma=8.333)}

In [44]:
#skill["Shenton Park Speed Dealers"], skill["Karrakatta Grim Jobs"] = rate_1vs1(skill["Shenton Park Speed Dealers"], skill["Karrakatta Grim Jobs"])

In [5]:
winloss_2014b['Winteam'][0]

'Shenton Park Speed Dealers'

In [6]:
skill[winloss_2014b['Winteam'][0]]

trueskill.Rating(mu=25.000, sigma=8.333)

In [7]:
for i in range(0,len(winloss_2014b)):
    skill[winloss_2014b['Winteam'][i]],skill[winloss_2014b['Lossteam'][i]] = rate_1vs1(skill[winloss_2014b['Winteam'][i]],
                                                                                      skill[winloss_2014b['Lossteam'][i]],
                                                                                      drawn=winloss_2014b['IsDraw'][i])

In [8]:
skill

{'Bicton Banter Lords': trueskill.Rating(mu=29.349, sigma=3.545),
 'Bicton Bath Salts': trueskill.Rating(mu=26.548, sigma=3.152),
 'Brentwood Bushchooks': trueskill.Rating(mu=40.001, sigma=4.362),
 'Churchlands Hellraisers': trueskill.Rating(mu=26.983, sigma=3.160),
 'Claremont Cereal Killahs': trueskill.Rating(mu=21.929, sigma=3.260),
 'Como Mo Co': trueskill.Rating(mu=30.845, sigma=3.474),
 'Cottesloe Clam Hunters': trueskill.Rating(mu=32.010, sigma=3.351),
 'Creepy Crawleys': trueskill.Rating(mu=25.125, sigma=3.465),
 'Dianella Demons': trueskill.Rating(mu=25.697, sigma=3.556),
 'Dog Swamp Swamp Dogs': trueskill.Rating(mu=26.846, sigma=3.708),
 'Doubleview Double Yewws': trueskill.Rating(mu=30.858, sigma=3.740),
 'Floreat Flamingos': trueskill.Rating(mu=20.390, sigma=3.397),
 'Freo Fussy Puckers': trueskill.Rating(mu=16.085, sigma=3.485),
 'GMLA Angels': trueskill.Rating(mu=25.006, sigma=3.888),
 'GMLA Guardians': trueskill.Rating(mu=34.383, sigma=3.797),
 'GMLA Jurassic Pucks': trueskill.Rating(mu=13.342, sigma=3.740),
 'Gravel Road GrindRs': trueskill.Rating(mu=18.198, sigma=3.329),
 'Greenmount Doom': trueskill.Rating(mu=33.752, sigma=3.518),
 'Hillarys Humpbacks': trueskill.Rating(mu=22.360, sigma=3.446),
 'Hungry Spot Heroes': trueskill.Rating(mu=22.985, sigma=3.286),
 'Inglewood Coldcuts': trueskill.Rating(mu=15.310, sigma=3.303),
 'Innaloo Pinguz': trueskill.Rating(mu=20.003, sigma=4.917),
 'Innaloominati': trueskill.Rating(mu=20.492, sigma=3.547),
 'Karrakatta Grim Jobs': trueskill.Rating(mu=27.055, sigma=3.275),
 'Karrinyup Bandits': trueskill.Rating(mu=29.301, sigma=3.073),
 'Kensington Kermits': trueskill.Rating(mu=20.678, sigma=3.280),
 'Maylands Muthapuckas': trueskill.Rating(mu=22.997, sigma=3.025),
 'Melville Massiv': trueskill.Rating(mu=23.481, sigma=3.488),
 'Mindarie Molotovs': trueskill.Rating(mu=32.023, sigma=3.923),
 'Mosman Park Milkmen': trueskill.Rating(mu=25.650, sigma=3.863),
 'Mt Pleasant Mounties': trueskill.Rating(mu=31.615, sigma=3.457),
 'Mullaloozers': trueskill.Rating(mu=25.307, sigma=3.030),
 'North Perth Bald Beavers': trueskill.Rating(mu=19.488, sigma=3.177),
 'Ocean Beef': trueskill.Rating(mu=22.951, sigma=3.266),
 'Parkwood Benders': trueskill.Rating(mu=25.659, sigma=3.724),
 'Perth Glory-Holerz': trueskill.Rating(mu=18.270, sigma=3.834),
 'Scarbra Streisands': trueskill.Rating(mu=31.195, sigma=3.540),
 'Shenton Park Speed Dealers': trueskill.Rating(mu=27.469, sigma=3.569),
 'South Perth Puckaneers': trueskill.Rating(mu=22.996, sigma=3.285),
 'Subiaco Silkworms': trueskill.Rating(mu=25.607, sigma=3.271),
 'West Leederville Wobbegongs': trueskill.Rating(mu=26.873, sigma=3.605),
 'Whitfords City Wristies': trueskill.Rating(mu=22.211, sigma=3.363),
 'Willo Wonkas': trueskill.Rating(mu=23.397, sigma=3.215)}

In [9]:
skill_df = DataFrame(skill.items(),columns=['Team','Rating'])
skill_df.head()

                      Team                                    Rating
0  Whitfords City Wristies  trueskill.Rating(mu=22.211, sigma=3.363)
1          Greenmount Doom  trueskill.Rating(mu=33.752, sigma=3.518)
2           Innaloo Pinguz  trueskill.Rating(mu=20.003, sigma=4.917)
3      Mosman Park Milkmen  trueskill.Rating(mu=25.650, sigma=3.863)
4             Mullaloozers  trueskill.Rating(mu=25.307, sigma=3.030)

In [10]:
trueskill.expose(skill_df["Rating"][1])

23.198185578226298

In [11]:
skill_df['Estimated Rating'] = None
for i in range(0,len(skill_df)):
    skill_df['Estimated Rating'][i]=trueskill.expose(skill_df['Rating'][i])
    
skill_df.head()

,Team,Rating,Estimated Rating
0,Whitfords City Wristies,"trueskill.Rating(mu=22.211, sigma=3.363)",12.1217
1,Greenmount Doom,"trueskill.Rating(mu=33.752, sigma=3.518)",23.1982
2,Innaloo Pinguz,"trueskill.Rating(mu=20.003, sigma=4.917)",5.25262
3,Mosman Park Milkmen,"trueskill.Rating(mu=25.650, sigma=3.863)",14.0619
4,Mullaloozers,"trueskill.Rating(mu=25.307, sigma=3.030)",16.2159

In [12]:
skill_df.to_csv('skill ratings 2014b.csv')

In [18]:
#skill_df = pd.read_csv('skill ratings 2014b.csv')
skill_df.head()

,Team,Rating,Estimated Rating
0,Whitfords City Wristies,"trueskill.Rating(mu=22.211, sigma=3.363)",12.1217
1,Greenmount Doom,"trueskill.Rating(mu=33.752, sigma=3.518)",23.1982
2,Innaloo Pinguz,"trueskill.Rating(mu=20.003, sigma=4.917)",5.25262
3,Mosman Park Milkmen,"trueskill.Rating(mu=25.650, sigma=3.863)",14.0619
4,Mullaloozers,"trueskill.Rating(mu=25.307, sigma=3.030)",16.2159

In [24]:
skill_df['Rating'][0].sigma

3.3630997638106597

In [27]:
skill_df['mu'] = None
skill_df['sigma'] = None
for i in range(0,len(skill_df)):
    skill_df['mu'][i]=skill_df['Rating'][i].mu
    skill_df['sigma'][i]=skill_df['Rating'][i].sigma
    skill_df['Team'][i] = skill_df['Team'][i].lower()


skill_df.to_csv('skill ratings 2014b.csv')
skill_df.head()

,Team,Rating,Estimated Rating,mu,sigma
0,whitfords city wristies,"trueskill.Rating(mu=22.211, sigma=3.363)",12.1217,22.211,3.3631
1,greenmount doom,"trueskill.Rating(mu=33.752, sigma=3.518)",23.1982,33.7522,3.518
2,innaloo pinguz,"trueskill.Rating(mu=20.003, sigma=4.917)",5.25262,20.0028,4.91672
3,mosman park milkmen,"trueskill.Rating(mu=25.650, sigma=3.863)",14.0619,25.6503,3.86281
4,mullaloozers,"trueskill.Rating(mu=25.307, sigma=3.030)",16.2159,25.3068,3.03028